@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, red , rgb(41, 125, 158));
    color: #fff;
}

.game{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.title{
    position: absolute;
    top: 0;
    font-size: 4rem;
    z-index: 2;
    font-family: 'Press Start 2P', cursive;
}
  

.score{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 70px;
    z-index: 1;
    font-family: 'Press Start 2P', cursive;s
}
  

.p-count,.c-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
  

.options{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}
  

.rock, .paper, .scissor{
    padding: 5rem;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background:  linear-gradient rgb(22, 46, 73);
    outline: none;
    border-color: rgb(235, 235, 235);
  cursor: pointer;
    box-shadow: 12px 12px 2px 1px rgb(59, 59, 61);
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

  
.move{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}
.movesleft{
    font-family: 'Press Start 2P', cursive;
}
  

.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 100px;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}
  
.result{
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}
  .copyright{
      font-size: 30px;
      text-align: center;
    }